extends layout

block content
  h1 Orve: manage your payments in real time
  p Welcome to Orve
  a(href='https://api.venmo.com/v1/oauth/authorize?client_id=2014&scope=make_payments%20access_feed%20access_profile%20access_email%20access_phone&response_type=code') log in to venmo

