extends layout

block content
	h1.
		Show List
	ul
		each show, i in showlist
			li
				#{show.date}
				br 
				| Hidden: #{show.acceptingTickets} 
				br
				| Number of Tickets: #{show.tixAvail}
				br
				| Tickets Sold: #{show.tixSold}