extends layout

block content
	h1.
		Show List
	ul
		- var dateFormatter = function(showDate){
		-	var returnDate = new Date(showDate).toLocaleString();
		-	return returnDate;
		- }
		each show, i in showlist
			li
				| #{dateFormatter(show.date)}
				br 
				| Hidden: #{show.acceptingTickets} 
				br
				| Number of Tickets: #{show.tixAvail}
				br
				| Tickets Sold: #{show.tixSold}